.circle-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    margin:auto;
 }

 .center-info {
     margin-top: 1em;
     align-items: center;
     align-content: center;
     text-align: center;
 }

 .title {
    font-size: 2em;
 }

 .token {
     width:5em !important;
     height:10em !important;
 }