<div *ngIf="investor != null" class="container">
    <p-toast></p-toast>
  <div style="align-items: right; align-content:right; text-align:right">
    <button pButton type="button" class="blue-button" (click)="toggleEdit()"
      [icon]="editMode ? 'pi pi-save' : 'pi pi-pencil'"></button>
  </div>

  <img class="circle-img" [src]="investor.profilePictureId > 0 ? endpointService.getUrl() + 'media/profilepicture/'
                  + investor.profilePictureId : 'assets/images/user.png'" />
  <div class="center-info">

    <b class="title" *ngIf="!editMode">{{ investor.firstName }} {{ investor.lastName }}</b>
    <input *ngIf="editMode" pInputText id="firstName" [(ngModel)]="investor.firstName" /> <input *ngIf="editMode" pInputText
      id="lastName" [(ngModel)]="investor.lastName" />
    <ul style="list-style-type:none">
      <li><b> Country</b></li>
      <li> {{ investor.country }}&nbsp;
        <button *ngIf="editMode" pButton class="blue-button" icon="pi pi-pencil"></button>
      </li>

      <li><b>Description</b></li>
      <li *ngIf="!editMode"> {{ investor.description }} </li>
      <textarea [rows]="2" [cols]="50" *ngIf="editMode" pInputText id="description" [(ngModel)]="investor.description" ></textarea>
      <li><b>Pitch</b></li>
      <li *ngIf="!editMode"> {{ investor.pitch }} </li>
      <textarea [rows]="10" [cols]="50" *ngIf="editMode" pInputTextarea id="pitch" [(ngModel)]="investor.pitch" ></textarea>
      <li><b>Ticket Size</b></li>
      <li> {{ investor.ticketMin }} - {{ investor.ticketMax }}</li>
      <li><b>Involvement</b></li>
      <ul style="list-style-type:none">
        <li *ngFor="let spprt of investor.supportNames"> {{ spprt }} &nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
      <li><b>Industries</b></li>
      <ul style="list-style-type:none;">
        <li *ngFor="let indstry of investor.industryNames"> {{ indstry }}&nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
      <li><b>Investment Phases</b></li>
      <ul style="list-style-type:none;">
        <li *ngFor="let phase of investor.investmentPhaseNames"> {{ phase }}&nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
    </ul>
  </div>
</div>