<p-table #dt selectionMode="single" [(selection)]="selectedRelatinship" (onRowSelect)="onRowSelect($event)" [value]="matchList" [autoLayout]="true" [columns]="cols" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="matchId">ID
        <p-sortIcon field="matchId" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="investor">Investor
        <p-sortIcon field="investor" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="startup">Startup
        <p-sortIcon field="startup" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="state">State
        <p-sortIcon field="state" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="score">Score
        <p-sortIcon field="score" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="interactions">Interactions
        <p-sortIcon field="interactions" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th pSortableColumn="lastChanged">Last Changed
        <p-sortIcon field="lastChanged" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-match let-columns="columns">
    <tr>
      <td>{{ match.id }}</td>
      <td>{{ match.investor.firstName }} {{ match.investor.lastName }}</td>
      <td>{{ match.startup.companyName }}</td>
      <td>{{ match.state }}</td>
      <td>{{ match.matchingPercent }}%</td>
      <td>{{ match.interactions.length }}</td>
      <td>{{ formatDate(match.lastchanged) }}</td>
    </tr>
  </ng-template>
</p-table>
