<div class="background">
  <div class="wrapper">
    <img src="../../../assets/images/logo_white.png" class="logo" />
    <div class="login-form">
      <div class="card">
        <div class="card-body">
          <h1>LOGIN</h1>
          <form [formGroup]="loginForm" class="mx-auto">
            <div class="form-group">
              <div class="input-group inputBox">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="example@mail.com" [formControlName]="'email'"
                  name="email" />
              </div>
            </div>
            <div class="input-group inputBox">
              <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password"
                placeholder="password" />
              <div class="input-group-append hoverable" (click)="toggleHide()">
                <span class="input-group-text">
                  <i class="fa" [ngClass]="{
                    'fa-eye-slash': hide,
                    'fa-eye': !hide
                  }"></i>
                </span>
              </div>
            </div>
            <p-messages [(value)]="msg" [closable]="false"></p-messages>
            <button class="formButton" expand="block" type="submit" (click)="onClickLogin()">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
