<div *ngIf="startup != null" class="container">
    <p-toast></p-toast>
  <div style="align-items: right; align-content:right; text-align:right">
    <button pButton type="button" class="blue-button" (click)="toggleEdit()"
      [icon]="editMode ? 'pi pi-save' : 'pi pi-pencil'"></button>
  </div>

  <img class="circle-img" [src]="startup.profilePictureId > 0 ? endpointService.getUrl() + 'media/profilepicture/'
                  + startup.profilePictureId : 'assets/images/user.png'" />
  <div class="center-info">

    <b class="title" *ngIf="!editMode">{{ startup.companyName }}</b>
    <input *ngIf="editMode" pInputText id="firstName" [(ngModel)]="startup.companyName" />
    <ul style="list-style-type:none">
      <li><b>Contact Name</b></li>
      <li *ngIf="!editMode">{{ startup.firstName }} {{ startup.lastName }} </li>
      <input *ngIf="editMode" pInputText id="firstName" [(ngModel)]="startup.firstName" /> <input *ngIf="editMode" pInputText
      id="lastName" [value]="startup.lastName" />
      <li><b> Country</b></li>
      <li> {{ startup.country }}&nbsp;
        <button *ngIf="editMode" pButton class="blue-button" icon="pi pi-pencil"></button>
      </li>

      <li><b>Description</b></li>
      <li *ngIf="!editMode"> {{ startup.description }} </li>
      <textarea [rows]="2" [cols]="50" *ngIf="editMode" pInputText id="description" [(ngModel)]="startup.description" ></textarea>
      
      <li><b>Pitch</b></li>
      <li *ngIf="!editMode"> {{ startup.pitch }} </li>
      <textarea [rows]="10" [cols]="50" *ngIf="editMode" pInputTextarea id="pitch" [(ngModel)]="startup.pitch" ></textarea>

      <li><b>Investment Phase</b></li>
      <li *ngIf="!editMode"> {{ startup.investmentPhase }} </li>
      <button *ngIf="editMode" pButton class="blue-button" icon="pi pi-pencil"></button>
      
      <li><b>Ticket Size</b></li>
      <li> {{ startup.ticketMin }} - {{ startup.ticketMax }}</li>
      
      <li><b>Involvement</b></li>
      <ul style="list-style-type:none">
        <li *ngFor="let spprt of startup.supportNames"> {{ spprt }} &nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
      <li><b>Industries</b></li>
      <ul style="list-style-type:none;">
        <li *ngFor="let indstry of startup.industryNames"> {{ indstry }}&nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
      <li><b>Investor Types</b></li>
      <ul style="list-style-type:none;">
        <li *ngFor="let type of startup.investorTypeNames"> {{ type }}&nbsp;
          <button *ngIf="editMode" type="button" class="red-button" pButton icon="pi pi-times"></button>
        </li>
        <li *ngIf="editMode"><button type="button" class="blue-button" pButton icon="pi pi-plus"></button></li>
      </ul>
    </ul>
  </div>
</div>